.hero{
    /* background-image: url("img/hero4.png"); */
background-image: url(../Assets/hero4.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-size:cover;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero h4{
    padding-bottom: 15px;
    font-size: 20px;
    color: #222;
}
.hero h1{
    color: #088178;
    font-size: 50px;
    line-height: 64px;

}
.hero p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.hero h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
.hero button{
    background-image: url(../Assets/button.png);
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}